Refine draft to align with draft-stephan-green-bof-reqs-collections/

The current draft has been worked on previous to GREEN BOF.
The draft-stephan-green-bof-reqs-collections draft has been worked on after GREEN BOF, in an attempt to collect requirements from different entry points including operator's requirements made in the last charter refinement work and from the drafts which provided material to the green BoF.

After GREEN WG has been formed, https://datatracker.ietf.org/wg/green/about/ , it is a good time to revisit these two drafts,  combine efforts and align with the milestones, goals and scopes agreed upon after GREEN WG forming.

As initial proposal, and initial email discussion with the authors there are a few points to decide:
1. How to proceed with the MIB material? to be moved to YANG? wait for YANG modules?
     * {{RFC7577}}, Definition of Managed Objects for Battery Monitoring
     * {{RFC7460}}, Monitoring and Control MIB for Power and Energy
     * {{RFC7461}}, Energy Object Context MIB
     * {{RFC7326}}, Energy Management Framework
     * {{RFC6988}}, Requirements for Energy Management
     * {{RFC6933}}, Entity MIB (Version 4)
     * {{RFC3433}}, Entity Sensor MIB module
     * {{RFC3621}}, Power Ethernet MIB modules
     * {{RFC1628}}, UPS Power Monitoring MIB module
2. Agree on which of the two drafts to evolve
as an added point:
3. Presentation to WG, IETF 121. Request slot
